@media (max-width: 60.000em){
    #projects, #companyCulture, #experience, footer {
    display: grid;
    grid-column: 1/ span 2;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 10px;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    }  
}