@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300');

/*header*/
header {
    background: linear-gradient(to top right, #FE6B82, 55%, #9225F0);
    height: 445px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30px 1fr 100px;
    grid-template-areas: "Nav Nav"
                        "Slogan1 Slogan1"
                        " . Images";
    grid-row-gap: 20px;
}
nav {
    grid-area: Nav;
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 30px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
    height: 50px;
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    line-height: 10px;  
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
}
header h1, h3 {
    grid-area: Slogan1;
    font-family: 'Montserrat', sans-serif;  
    text-transform: capitalize;
    text-transform: lowercase;
    color: white;
}
header h1 {
    font-size: 116px;
    align-self: start;
    justify-self: center;
}
header h3 {
    font-size: 21px;
    align-self: end;
    justify-self: center;
}
header .wawe-top, .wawe-top2 {
    grid-area: Images;
    height: 50px;
    justify-items: end;
}
.wawe-top {
    align-self: end;
    justify-self: end;
    padding-top: 50px;
    margin-top: 50px;
    width: 420px;
}
.wawe-top2 {
    align-self: start;
    justify-self: end;
    width: 240px;   
    margin-bottom: 50px;
}

/*projects*/
#projects {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 50px 200px 100px;
    grid-template-areas:". Slogan2 Img1 ."
                        ". Text2 Img1 ."
                        ". Find Img1 .";
    grid-column-gap: 20px;
    justify-items:center;
    align-items: center;
    padding-top: 20px;
}
#projects h2 {
    grid-area: Slogan2;
    align-self: center;
    justify-self: stretch;
    margin-top: 50px;
    color: #9225F0;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;  
    text-transform: capitalize;
    text-transform: lowercase;  
    letter-spacing: 6px;
    font-weight: bold;
}
#projects p {
    grid-area: Text2;
    align-self: flex-start;
    justify-self: start;
    color: black;
    align-self: center;
    justify-self: start;   
    color: #9225F0;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#projects button {
    grid-area: Find;
    align-self: end;
    justify-self: start;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: none;
    border: 2px solid #9225F0;
}
#projects img {
    grid-area: Img1;
    margin-top: 30px;
    justify-self: center;
    align-self: center;
}
/*companyCulture*/
#companysCulture {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 50px 200px 100px;
    grid-template-areas:". Img2 Slogan3 ."
                        ". Img2 Text3 ."
                        ". Img2 Find3 .";
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#companysCulture h2 {
    grid-area: Slogan3;
    align-self: center;
    justify-self: stretch;
    margin-top: 50px;
    color: #9225F0;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;  
    text-transform: capitalize;
    text-transform: lowercase;   
    letter-spacing: 6px;
    font-weight: bold;
}
#companysCulture p {
    grid-area: Text3;
    align-self: flex-start;
    justify-self: start;
    color: black;
    align-self: center;
    justify-self: start;   
    color: #9225F0;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#companysCulture button {
    grid-area: Find3;
    align-self: end;
    justify-self: start;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: none;
    border: 2px solid #9225F0;
}
#companysCulture img {
    grid-area: Img2;
    height: 350px;
    justify-self: start;
    align-self: center;
}
/*Ideas*/
#ideas {
    background-image: url(../Images/fullbg.jpg);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    transform: rotateZ(180deg);
    height: 290px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:". . ."
                        ". Slogan4 ."
                        ". . Wawe";
    margin-bottom: 100px;
}
#ideas h2 {
    grid-area: Slogan4;
    justify-self: center;
    align-self: center;
    transform: rotateZ(180deg);
    font-size: 73px;
    font-family: 'Montserrat', sans-serif;  
    text-transform: capitalize;
    text-transform: lowercase;
    color: white;
    letter-spacing: 1px;
}
#ideas img {
    grid-area: Wawe;
    align-self: end;
    justify-self: end;
    width: 650px;   
    margin-bottom: 250px;
    transform: rotateZ(180deg);
}
/*experience*/
#experience {
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    grid-template-rows: 50px 200px 100px;
    grid-template-areas:". Slogan5 Img3 ."
        ". Text3 Img3 ."
        ". Find4 Img3 .";
    grid-column-gap: 20px;
    justify-items:center;
    align-items: center;
    padding-top: 20px;
}
#experience h2 {
    grid-area: Slogan5;
    align-self: center;
    justify-self: stretch;
    margin-top: 50px;
    color: #9225F0;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;  
    text-transform: capitalize;
    text-transform: lowercase;  
    letter-spacing: 6px;
    font-weight: bold;
}
#experience p {
    grid-area: Text3;
    align-self: flex-start;
    justify-self: start;
    color: black;
    align-self: center;
    justify-self: start;   
    color: #9225F0;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#experience button {
    grid-area: Find4;
    align-self: end;
    justify-self: start;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: none;
    border: 2px solid #9225F0;
}
#experience img {
    grid-area: Img3;
    margin-top: 30px;
    justify-self: center;
    align-self: center;
}
/*footer*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(to bottom right, #FE6B82, 55%, #9225F0); 
    background-size: auto;
    grid-template-areas:"slogan form"
                        "create form";
    grid-column-gap: 220px;
    
}
.slogan {
    grid-area: slogan;
    justify-self: center;
    align-self: center;
    font-size: 63px;
    margin: 80px 50px 0 50px;
    font-family: 'Montserrat', sans-serif;
    color:  #9225F0;
}
.create {
    grid-area: create;
    justify-self: start;
    align-self: flex-end;
    margin: 0 0 20px 50px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #9225F0;
}
.form {
    grid-area: form;
    justify-self: stretch;
    align-self: stretch;
    margin: 20px 20px 20px 0;   
}
.button {
    grid-area: form;
    align-self: flex-start;
    width: 150px;
    height: 35px;
    background: none;
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    margin-top: 120px;
    display: block;
}
.form label {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    color: #9225F0;
    margin-top: 10px;
    display: block;
}
.form input, textarea {
    background: transparent;
}
.form input {
    border: none;
    border-bottom: 2px solid #9225F0; 
}
.form textarea {
    border: 2px solid #9225F0;
    padding: 5px 0 5px 0;
    margin-top: 10px;
}