@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300');

/*footer*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(to bottom right, #FE6B82, 55%, #9225F0);  
    grid-template-areas:"slogan contact"
                        "slogan contact"
}
.slogan {
    grid-area: slogan;
}

.contact {
    grid-area: contact;
}