@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Roboto:300');

/*header*/
header {
    background: linear-gradient(to top right, #FE6B82, 55%, #9225F0);
    height: 445px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30px 1fr 100px;
    grid-template-areas: "Nav Nav"
                        "Slogan1 Slogan1"
                        " . Images";
    grid-row-gap: 20px;
}
nav {
    grid-area: Nav;
    display: flex;
    align-self: center;
    justify-self: center;
    padding-top: 30px;
}
nav ul {
    display: flex;
    align-items: center;
    justify-items: center;
    padding-top: 10px;
    height: 50px;
}
nav ul li {
    margin-left: 20px;
    margin-right: 20px;
    list-style: none;
    line-height: 10px;  
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
}
header h1, h3 {
    grid-area: Slogan1;
    font-family: 'Montserrat', sans-serif;  
    text-transform: capitalize;
    text-transform: lowercase;
    color: white;
}
header h1 {
    font-size: 116px;
    align-self: start;
    justify-self: center;
}
header h3 {
    font-size: 21px;
    align-self: end;
    justify-self: center;
}
header .wawe-top, .wawe-top2 {
    grid-area: Images;
    height: 50px;
    justify-items: end;
}
.wawe-top {
    align-self: end;
    justify-self: end;
    padding-top: 50px;
    margin-top: 50px;
    width: 420px;
}
.wawe-top2 {
    align-self: start;
    justify-self: end;
    width: 240px;   
    margin-bottom: 50px;
}

/*projects*/
#projects {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50px 200px 100px;
    grid-template-areas:"Slogan2 Img1"
                        "Text2 Img1"
                        "Find Img1";
    justify-items:center;
    align-items: center;
    margin-left: 100px;
    padding-top: 20px;
}
#projects h2 {
    grid-area: Slogan2;
    align-self: center;
    justify-self: start;
    margin-left: 50px;
    margin-top: 50px;
    color: #9225F0;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;  
    text-transform: capitalize;
    text-transform: lowercase;    
}
#projects p {
    grid-area: Text2;
    align-self: flex-start;
    justify-self: start;
    color: black;
    align-self: center;
    justify-self: start;
    margin-left: 50px;
    margin-right: 50px;
    color: #9225F0;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#projects button {
    grid-area: Find;
    margin-left: 50px;
    align-self: center;
    justify-self: start;
    height: 50px;
    width: 200px;
    color: black;
    font-size: 12px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: none;
    border: 2px solid #9225F0;
}
.img1 {
    grid-area: Img1;
    width: 409px;
    margin-top: 50px;
    justify-self: start;
}


/*footer*/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(to bottom right, #FE6B82, 55%, #9225F0); 
    background-size: auto;
    grid-template-areas:"slogan form"
                        "create form";
    grid-column-gap: 220px;
    
}
.slogan {
    grid-area: slogan;
    justify-self: center;
    align-self: center;
    font-size: 63px;
    margin: 80px 50px 0 50px;
    font-family: 'Montserrat', sans-serif;
    color:  #9225F0;
}
.create {
    grid-area: create;
    justify-self: start;
    align-self: flex-end;
    margin: 0 0 20px 50px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #9225F0;
}
.form {
    grid-area: form;
    justify-self: stretch;
    align-self: stretch;
    margin: 20px 20px 20px 0;   
}
.button {
    grid-area: form;
    align-self: flex-start;
    width: 150px;
    height: 35px;
    background: none;
    font-size: 12px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid white;
    margin-top: 120px;
    display: block;
}
.form label {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 35px;
    color: #9225F0;
    margin-top: 10px;
    display: block;
}
.form input, textarea {
    background: transparent;
}
.form input {
    border: none;
    border-bottom: 2px solid #9225F0; 
}
.form textarea {
    border: 2px solid #9225F0;
    padding: 5px 0 5px 0;
    margin-top: 10px;
}